[mysql]
default-character-set=utf8mb4

[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# SQL modes (MariaDB daha esnek)
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO

slow_query_log=1
long_query_time=2
slow_query_log_file=/var/lib/mysql/slow.log

general_log=1
general_log_file=/var/lib/mysql/general.log

innodb_buffer_pool_size=256M
innodb_log_file_size=128M
innodb_lock_wait_timeout=120
innodb_flush_log_at_trx_commit=2

max_connections=200
wait_timeout=180
interactive_timeout=600

tmp_table_size=64M
max_heap_table_size=64M

sync_binlog=0
skip-log-bin
